@import "tailwindcss";


@theme {
    --color-primary-1: #E6F2FF;
    --color-primary-2: #B8D8FF;
    --color-accent-1: #FFF8E1;
    --color-accent-2: #E8F5E9;
    --color-text: #333333;

    --font-sans: 'Lato', sans-serif;
}

body {
    font-family: var(--font-sans);
}