@import "tailwindcss";


@theme {
    --color-primary-1: #E6F2FF;
    --color-primary-2: #B8D8FF;
    --color-accent-1: #FFF8E1;
    --color-accent-2: #E8F5E9;
    --color-text: #333333;
    --color-title: #44566C;
    --color-orange: #F4BB44;
    --color-yellow: #fdfbd4;

    --font-sans: 'Noto Sans', sans-serif;
}

@layer utilities {
    .text-outline {
        text-shadow:
          -1px -1px 3px rgba(0, 0, 0, 0.3),
           1px -1px 3px rgba(0, 0, 0, 0.3),
          -1px  1px 3px rgba(0, 0, 0, 0.3),
           1px  1px 3px rgba(0, 0, 0, 0.3);
      }

      .text-outline-white {
        text-shadow:
          -1px -1px 1px white,
           1px -1px 1px white,
          -1px  1px 1px white,
           1px  1px 1px white;
      }
  }
  

body {
    font-family: var(--font-sans);
}